body {
  margin: 0;
  background: #f5f8fa ;
  font-family: Arial, sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #21b0a6 0%, #c4e3e1 100%);
  padding: 10px 40px;
}
.profile {
  display: flex;
  align-items: center;
}
.profile-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}
.profile-name {
  color: black;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: underline;
}
.header-buttons .btn {
  margin-left: 15px;
  padding: 12px 28px;
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0,0,0,0.07);
}
.btn:hover {
background-color: #66d1cd;
color: white;
}
.main-title {
  font-size: 4rem;
  font-family: serif;
  font-weight: bold;
  margin: 60px 0 30px 220px;
}
.login-box {
  background: linear-gradient(135deg, #1de9b6 0%, #e0f7fa 100%);
  padding: 40px 30px;
  border-radius: 18px;
  max-width: 600px;
  margin: 0 auto 0 auto;
  box-shadow: 0 0 30px rgba(0,0,0,0.08);
}
.login-box form {
  display: flex;
  flex-direction: column;
}
.login-box label {
  margin: 15px 0 5px;
  font-size: 1.1rem;
}
.login-box input {
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1.1rem;
}
.forgot-link {
  color: #1976d2;
  font-size: 1rem;
  text-align: right;
  margin-bottom: 18px;
  text-decoration: underline;
}
.login-btn {
    margin-left: 15px;
    margin-right: 15px;
    padding: 12px 28px;
    font-size: 1.1rem;
    border: none;
    border-radius: 8px;
    background: #66d1cd;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
}

.login-btn:hover {
    background-color: #fff;
    color: black;
}
.decor-left {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 420px;
  z-index: -1;
}
.decor-right {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 420px;
  z-index: -1;
}